---
layout: default
---
{% include hero.html %}

<div class="container">
	<div class="row">
		<div class="col col-12">
			<span style="display: inline-block; background-color: #F5F5F5; color: #333; padding: 5px 10px; border-radius: 5px; font-size: 17px; margin-bottom: 10px;">
				The project list below provides brief descriptions of projects that have already been published or are personal projects unrelated to publication.
				If you are interested in the published list, please refer to the <a href='/PUBLICATIONS'><strong>PUBLICATIONS</strong></a> page.
				Additionally, please note that projects under the double-blind review process are not listed here to maintain anonymity!
				</span><br><br><br>
			{% if site.posts.size > 0 %}
				<h4 class="lates-title">Projects</h4>
			{% endif %}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
	{% if site.posts.size > 0 %}
		{% for post in paginator.posts %}
			{% include article-content.html %}
		{% endfor %}
	{% endif %}
	</div>
</div>
{% include pagination.html %}
