{% assign without-image = nil %}
<!-- begin article -->
<div class="article">
  <div class="container">

    <div class="article__wrapper" style="display: flex; flex-wrap: wrap;">
        <a href="{{ post.url | prepend: site.baseurl }}" class="article__image" style="flex: 1 1 100%; background-image: url({{ site.baseurl }}/images/{{ post.image }})">
          <div class="image-overlay">
            <h2 class="article__title-hover">{{ post.title }}</h2>
          </div>
        </a>
    </div>

  </div>
</div>
<!-- end article -->

<style>
  .article__wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .article__image {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }

  .article__image:hover {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust overlay color and opacity as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .article__image:hover .image-overlay {
    opacity: 1;
  }

  .article__title-hover {
    color: #fff; /* Adjust text color as needed */
    font-size: 15px; /* Adjust font size as needed */
    margin: 0;
    padding: 15px;
    transition: opacity 0.3s ease-in-out;
  }

  .article__image:hover .article__title-hover {
    opacity: 1;
  }
</style>
