<!-- begin c-hero -->
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-6 col-t-12 last-item">
        <div class="hero__content">
          <h1 class="hero__title">{{ site.data.settings.author.say-hello }}</h1>
          <p class="hero__subtitle">{{ site.data.settings.author.bio }}</p>
          <!-- Text -->
          <p>
            <span
              style="display: inline-block; background-color: #ffdd57; color: #333; padding: 5px 10px; border-radius: 5px; font-size: 18px; margin-bottom: 10px;">
              <strong>I'm starting my Ph.D. at the University of Washington! <br>For my detailed background, download my
                CV here -> <strong><a href='/Docs/CV_Seok Hyun Hwang_AUG2024_LETTER.pdf' target='_blank'
                    style='color: gray;'>[CV]</a></strong><br>
              </strong>
            </span><br>Hi there! My name is Seokhyun (Shawn) Hwang, and I'm a <strong>Ph.D. student in Information
              Science</strong> at the <a href="https://www.washington.edu/"
              style='text-decoration: underline dotted; color: #333;'><strong>University of
                Washington</strong></a> in the <a href="https://depts.washington.edu/acelab/"
              style='font-weight: lighter; text-decoration: underline dotted; color: #333;'><strong>ACE Lab</strong></a>
            (Advisor:
            <a href="https://faculty.washington.edu/wobbrock/"
              style='font-weight: lighter; text-decoration: underline dotted; color: #333;'><strong>Jacob O.
                Wobbrock</strong></a>). I completed my Master's degree in the Intelligent Robotics Program at
            <a href="https://www.gist.ac.kr/en/main.html"
              style='font-weight: lighter; text-decoration: underline dotted; color: #333;'><strong>Gwangju Institute of Science and Technology</strong></a>, <a
              href="https://sites.google.com/view/gist-hcis-lab"
              style='font-weight: lighter; text-decoration: underline dotted; color: #333;'><strong>HCIS Lab</strong></a>
            (Advisor: <a href="https://scholar.google.co.kr/citations?user=AjfRd6wAAAAJ&hl"
              style='font-weight: lighter; text-decoration: underline dotted; color: #333;'><strong>SeungJun Kim</strong></a>)
            in Korea.
            Explore more about me: <a href='/ABOUT'><strong>ABOUT</strong></a>, <a
              href='/PUBLICATIONS'><strong>PUBLICATIONS</strong></a>, <a
              href='/EXPERIENCES'><strong>EXPERIENCES</strong></a>, and <a href='/EXTRAS'><strong>EXTRA
                ACTIVITIES</strong></a>. I am excited to share my work and look forward to future collaborations!
          </p>
          <!-- End Text -->
          <div class="hero__social">
            <span class="hero__social-title">Contact Me | seokhyun(at)uw.edu</span>
            {% include contact-link.html %}
          </div>
        </div>
      </div>
      <div class="col col-6 col-t-12">
        <div class="hero__image">
          <img src="{{site.baseurl}}/images/{{ site.data.settings.author.image }}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->